[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=HostsBlock Indicator
Exec=/usr/share/indicator-hostsblock/indicator-hostsblock
Comment=Simple indicator applet to manage hostsblock
Icon=/usr/share/indicator-hostsblock/indicator-hostsblock.svg
Hidden=false
NoDisplay=false
Terminal=false
StartupNotify=true
X-GNOME-Autostart-enabled=true
